[submodule "core/frontend/aftertime_vessile_front"]
	path = core/frontend/aftertime_vessile_front
	url = https://github.com/AftertimeINFO/aftertime_vessile_front.git
	branch = main
[submodule "core/backend/aftertime_core_back"]
	path = core/backend/aftertime_core_back
	url = https://github.com/AftertimeINFO/aftertime_core_back.git
	branch = main
[submodule "data_bridge/data_bridge_parser_vessel"]
	path = data_bridge/data_bridge_parser_vessel
	url = https://github.com/AftertimeINFO/data_bridge_parser_vessel.git
	branch = main
